/* commons */
.bg-blue{
    background-color: blue;
}

.bg-yellow {
    background-color: yellow;
}

.bg-lightblue {
    background-color: lightblue;
    color: white;
}

.bg-cyan {
    background-color: cyan;
}
h1{
    font-size: 30px;
}
.text-gray{
    color: lightgrey;
}
.text-blue{
    color: cyan;
}
.text-small{
    font-size: 10px;
}
/* header */
#logo{
    width: 210px;
}
header{
    background-image: url(bonus/pattern.png);
    background-size: contain;
    padding-top: 20px;
}
/* fine header */
/* footer */
#monitor {background-image: url(bonus/monitor.jpg);
}

#graph {background-image: url(bonus/graph.jpg);   
}

.footer-img {
    background-size: contain;
    width: 200px;
    height: 150px;
    background-repeat: no-repeat;
    color: white;
    font-weight: bold;
    text-align: center;
}